---
import { getCollection } from 'astro:content'
import BaseLayout from '~/layouts/BaseLayout.astro'
import EntryCard from '~/components/EntryCard.astro'
import * as R from 'remeda'

const chronicles = R.pipe(
  await getCollection('chronicles'),
  R.sort(
    (prev, self) => prev.data.pubDate.getTime() - self.data.pubDate.getTime()
  ),
  R.reverse()
)
---

<BaseLayout>
  <ul>
    {
      chronicles.map(({ slug, data }, index) => (
        <li style={{ gridColumn: index < 2 ? 'span 3' : 'span 2' }}>
          <EntryCard
            image={data.image}
            title={data.title}
            description={data.description}
            href={`${import.meta.env.BASE_URL}/chronicles/${slug}`}
          />
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    display: grid;
    justify-content: center;
    list-style: none;
    margin-top: 2em;
    gap: 1.5em;
  }

  @media (width >= 700px) {
    ul {
      grid-template-columns: repeat(6, 1fr);
    }
  }
</style>
