---
import { getCollection } from 'astro:content'
import BaseLayout from '~/layouts/BaseLayout.astro'
import EntryCard from '~/components/EntryCard.astro'
import * as R from 'remeda'

const chronicles = R.pipe(
  await getCollection('chronicles'),
  R.sort(
    (prev, self) => prev.data.pubDate.getTime() - self.data.pubDate.getTime()
  ),
  R.reverse()
)
---

<BaseLayout>
  <ul>
    {
      chronicles.map(({ slug, data }, index) => (
        <a
          class={index === 0 ? 'span-2' : null}
          href={`${import.meta.env.BASE_URL}/chronicles/${slug}`}
        >
          <EntryCard
            image={data.image}
            title={data.title}
            description={data.description}
          />
        </a>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    display: grid;
    justify-content: center;
    list-style: none;
    margin-top: 2em;
    gap: 1em;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  @media (width >= 700px) {
    ul {
      grid-template-columns: 1fr 1fr;
    }

    .span-2 {
      grid-column: span 2 / span 2;
    }
  }
</style>
