---
import { getCollection } from 'astro:content'
import BaseLayout from '~/layouts/BaseLayout.astro'
import EntryCard from '~/components/Articles/ArticleEntry.astro'

const collection = await getCollection('chronicles')
const chronicles = collection.sort(
  (prev, self) => prev.data.pubDate.getTime() - self.data.pubDate.getTime()
)
---

<BaseLayout>
  <header class="header">
    <h1>Chronicles</h1>

    <a
      class="rss-icon"
      role="button"
      rel="noreferrer"
      target="_blank"
      href="chronicles/rss.xml"
    >
      <img
        src={`${import.meta.env.BASE_URL}/rss-feed.svg`}
        alt="rss-feed-svg"
      />
      <span class="text" role="dialog">RSS Feed</span>
    </a>
  </header>
  <main class="list-container">
    <ul class="list">
      {
        chronicles.reverse().map(({ slug, data }, index) => (
          <li class={index < 2 ? 'span-3' : 'span-2'}>
            <EntryCard
              image={data.image}
              title={data.title}
              description={data.description}
              href={`${import.meta.env.BASE_URL}/chronicles/${slug}`}
            />
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rss-icon {
    position: relative;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background: transparent;
    transition: 500ms;

    &:hover {
      background: #34384177;

      span[role='dialog'] {
        visibility: visible;
        opacity: 1;
      }
    }

    span[role='dialog'] {
      position: absolute;
      font-size: 0.8em;
      padding: 0.5em;
      margin-top: 1.3em;
      white-space: nowrap;
      box-shadow: 0px 0px 0px 1px oklch(26.45% 0.01 268.31);
      background: var(--background-color);
      transform: translate(calc(-50% + 10px));
      border-radius: 8px;

      opacity: 0;
      z-index: 9999;
      visibility: hidden;
      transition: 400ms;
    }

    img {
      display: block;
      height: 1em;
    }
  }

  .list-container {
    container-name: list-container;
    container-type: inline-size;
  }

  .list {
    display: grid;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1.5em;
    margin-top: 2em;
  }

  @container list-container (width >= 800px) {
    .list {
      grid-template-columns: repeat(6, 1fr);
    }

    .span-3 {
      grid-column: span 3;
    }

    .span-2 {
      grid-column: span 2;
    }
  }
</style>
