---
import { getCollection } from 'astro:content'
import BaseLayout from '~/layouts/BaseLayout.astro'
import EntryCard from '~/components/EntryCard.astro'

const collection = await getCollection('chronicles')
const chronicles = collection.sort(
  (prev, self) => prev.data.pubDate.getTime() - self.data.pubDate.getTime()
)
---

<BaseLayout>
  <h1>Chronicles</h1>
  <main class="list-container">
    <ul class="list">
      {
        chronicles.reverse().map(({ slug, data }, index) => (
          <li class={index < 2 ? 'span-3' : 'span-2'}>
            <EntryCard
              image={data.image}
              title={data.title}
              description={data.description}
              href={`${import.meta.env.BASE_URL}/chronicles/${slug}`}
            />
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>

<style>
  .list-container {
    container-name: list-container;
    container-type: inline-size;
  }

  .list {
    display: grid;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1.5em;
    margin-top: 2em;
  }

  @container list-container (width >= 800px) {
    .list {
      grid-template-columns: repeat(6, 1fr);
    }

    .span-3 {
      grid-column: span 3;
    }

    .span-2 {
      grid-column: span 2;
    }
  }
</style>
