---
import * as R from 'remeda'

interface Props {
  routes: string[]
}

const { routes } = Astro.props
---

<header>
  <div class="container-center header-body">
    <div>
      <a href={import.meta.env.BASE_URL}> Patchouli </a>
    </div>
    <nav>
      {
        R.map(routes, route =>
          R.pipe(
            `${import.meta.env.BASE_URL}/${route}`,

            href => (
              <a {href} data-current={Astro.url.pathname.includes(href)}>
                {route.charAt(0).toUpperCase() + route.slice(1)}
              </a>
            )
          )
        )
      }
    </nav>
  </div>
</header>

<style>
  header {
    position: sticky;
    top: 0px;
    margin-bottom: 1em;
    box-shadow: 0 1px oklch(26.45% 0.01 268.31);
    z-index: 99;
  }

  a {
    font-size: 1.1em;
    text-decoration: none;
    color: inherit;
  }

  nav {
    display: flex;
    gap: 1em;
    margin: 0px 0.5em;

    a {
      &[data-current] {
        color: #ffffff;
      }

      &:not([data-current]) {
        color: #bcbcbc;
      }

      &:not([data-current]):hover {
        text-decoration: underline 1px currentColor;
      }
    }
  }

  .container-center {
    padding: 0 1em;
    margin: auto;
    max-width: var(--page-width);
  }

  .header-body {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: oklch(6.72% 0 0 / 0.8);
    backdrop-filter: blur(23px);
    -webkit-backdrop-filter: blur(23px);
  }
</style>
